include common/header
  a(name="top")
  #root
    #page.index
      a(name="mast")
      #mast
        include index/mast
      a(name="tease")
      #tease
        include index/tease
      a(name="events")
      #events
        include index/events
      #page-footer
    a(name="footer")
    #footer
      include common/footer
  include common/scripts
