include common/head
    #page
      include index/mast
      include index/tease
      include index/events
      #flyers.cf
        | [flyers]
      include index/scripts

      //FIXX this
      //MEMO add email address to wp form
      //MEMO create special form for Live Music
      //MEMO Split title into two lines on form
      //MEMO Just start with events list. Calendar can come later
      //MEMO vacation response

