include common/header
  #root
    #page.simple.jobs
      a(href=homePage)
         img.logo(src=logo, alt='logo')
      section
        header
                h1 We are accepting applications for employment
        article
                 p
                 a(href='sfe_application.pdf')
                 img(src='download_pdf_button.png', height='34', width='130', alt='')
                 br
                 p
                 | *all applicants must complete L.E.A.D. training with the California ABC (Alcoholic Beverage Control)
                 p LEAD training courses are available through the ABC at no charge
                 p more information available on the ABC website
                 p
                 a(href='http://www.abc.ca.gov/programs/lead.html') abc.ca.gov
                 p
                 | send your application along with a cover letter to:
                 a(href='mailto:info@sf-eagle.com') info@sf-eagle.com
      #page-footer
    #footer
      include common/footer
  include common/scripts
