<IfModule mod_rewrite.c>

RewriteEngine On
RewriteBase /sf-eagle/www/storm

RewriteRule ^index\.php$ - [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /sf-eagle/www/storm/index.php [L]

</IfModule>
