#footer {
    padding: 25px 3% 25px 3%;
    border-top: 30px solid black;
    @media screen and (max-width: $phone) {
        padding: 15px 1% 15px 1%;

    }

    .links {
        display: inline-block;
        width: 28%;
        vertical-align: top;
        @media screen and (max-width: $phone) {
            & {
                width: 40%;
            }
        }
    }
    @import "links";

    .content {
        display: inline-block;
        width: 38%;
        vertical-align: top;
        @media screen and (max-width: $phone) {
            & {
                width: 55%;
            }
        }
    }
    @import "content";

    .flyers {
        display: inline-block;
        width: 24%;
        margin-right: 0;
        float: right;
        vertical-align: top;
        @media screen and (max-width: $phone) {
            & {
                margin-top: 50%;
                width: 100%;
            }
        }
    }
    @import "flyers";

}
