li#afterdark.event.cf
  p.time 2pm-7pm
  ul.event-list
    li
      a.button(href='https://www.facebook.com/events/563181007033732/')
        span
          | AEF Dark Days Benefit <br />+ Beer Bust 3-6
  a(href='images/events/Aids-Emergency-Fund---Dark-Days-lite.jpg', rel='lightbox')
    img.thumb(src='images/events/Aids-Emergency-Fund---Dark-Days-thumb.jpg', alt='Dark Days')
