li#bust.event.cf
  p.time 3pm-6pm
  ul.event-list
    li
      a.button(href='http://the15association.org/')
        span
          | 15 Association
          br
          | Beer Bust
  a(href='images/events/whipping-elvis-lite.jpg', rel='lightbox')
    img.thumb(src='images/events/15Association-thumb.jpg', alt='15 Association')
