li#cubhouse.event.cf
  p.time 9pm
  ul.event-list
    li
      a.button(href='http://www.facebook.com/events/518773901518847/')
        span
          | Cub House
  a(href='images/events/CBHS_Poster-lite.jpg', rel='lightbox')
    img.thumb(src='images/events/CBHS_Poster-thumb.jpg', alt='Cub House')
