li#flag.event.cf
  p.time 9pm
  ul.event-list
    li
      a.button(href='http://www.facebook.com/events/518773901518847/')
        span
          | FLAG
  a(href='images/events/flag1-lite.jpg', rel='lightbox')
    img.thumb(src='images/events/flag1-thumb.jpg', alt='FLAG')
