li#freepool.event.cf
  p.time 4pm-Midnight
  ul.event-list
    li
      a.buttonless(href='#')
       span
        | FREE POOL
        br
        | $2 pints of BIG DADDY
  a(href='https://www.facebook.com/SpeakeasyBeer')
    img.thumb(src='images/events/speakeasyipa.jpg', alt='Big Daddy')
