li.event.cf
  p.time 7pm-2am
  ul.event-list
    li
      a.buttonless(href='#')
       span
        | Break up your work week and have a hump day drink with Cody!
  a(href='http://www.facebook.com/cody.joseph')
    img(src='images/staff/cody-joseph-virgin-mary-thumb.jpg', alt='cody', title='Cody')
