li#karaoke.event.cf
  p.time 7pm
  ul.event-list
    li
      a.button(href='http://goldenbearsf.com/pages/gbc-events/')
        span
          | BB After Party:
          br
          | Bouncer's BackYard
  a(href='images/events/rubber-showtunes-lite.jpg', rel='lightbox')
    img.thumb(src='images/events/rubber-showtunes-lite.jpg', alt='Karaoke')
