li#sadistic.event.cf
  p.time 9pm
  ul.event-list
    li
      a.button(href='http://en.wikipedia.org/wiki/Michael_Brandon_(pornographic_actor)')
        span
          | Sadistic Saturday
  a(href='images/events/sadistic-lite.jpg', rel='lightbox')
    img.thumb(src='images/events/sadistic-thumb.jpg', alt='Sadistic Saturday')
