li#tnl.event.cf
  p.time 9pm
  ul.event-list
    li
      a.button(href='http://sanfrancisco.gaycities.com/events/242724-pepperspray-reunion-show-the-eagle-pride-thursday-june-27')
        span
          | PEPPER SPRAY
    li
      a.button(href='http://www.dailymail.co.uk/news/article-1309256/ELO-founding-member-Mike-Edwards-killed-freak-runaway-hay-bale-accident.html')
        span
          | ShELO
    li
      a.button(href='images/events/agave-syrup1-nectar-600.jpg', rel='lightbox')
        span
          | NECTAR ON THE DEWLY
  a(href='images/events/TNL130627-lite.jpg', rel='lightbox')
    img(src='images/events/TNL130627-thumb.jpg', alt='TNL Flyer')
