#page {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1%;
  @media screen and (max-width: $phone) {
    margin-top: 10px;
  }
}

#mast {
  float: left;
  width: 22%;
  @media screen and (max-width: $netbook) {
    width: 30%;
  }
  @media screen and (max-width: $phone) {
    float: none;
    width: 98%;
    margin: 0;
  }
}

#tease {
  float: left;
  width: 54%;
  padding-top: 15px;
  @media screen and (max-width: $netbook) {
    width: 70%;
    clear: right;
  }
  @media screen and (max-width: $phone) {
    float: none;
    width: 98%;
    margin: 30px auto 1em auto;
    border: 3px solid white;
  }
}

#events {
  float: left;
  clear: right;
  width: 24%;
  margin-top: -20px;
  @media screen and (max-width: $netbook) {
    width: 40%;
    margin: 60px 30%;
  }
  @media screen and (max-width: $phone) {
    width: 100%;
  }
}

#flyers {
  clear: both;
  width: 80%;
  margin: 0 10%;
}
