include settings
thisPage = 'Home'

head
  title settings.title + ' - ' + thisPage
  meta(http-equiv='Content-Type', content='text/html', charset='utf-8')
  // <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
  meta(name='viewport', content='width=device-width')
  meta(name='viewport', content='initial-scale=1.0')
    // FIXX combine css files
    //  link(rel='stylesheet', href='css/twenty-twelve-style.css')
    //  link(rel='stylesheet', href='widgets/flexslider/flexslider.css')
    //  link(rel='stylesheet', href='widgets/lightbox/css/lightbox.css')
  link(rel='stylesheet', href='css/main.css')
  link(href='http://fonts.googleapis.com/css?family=Jolly+Lodger|Coming+Soon', rel='stylesheet', type='text/css')
    // <script src= "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"> </script>
