!!! 5
html
  head
    title SF-Eagle | 398 12th Street
    meta(http-equiv='Content-Type', content='text/html', charset='utf-8')
    // <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    meta(name='viewport', content='width=device-width')
    meta(name='viewport', content='initial-scale=1.0')
      // FIXX combine css files
    link(rel='stylesheet', href='twenty-twelve-style.css')
    link(rel='stylesheet', href='widgets/flexslider/flexslider.css')
    link(rel='stylesheet', href='widgets/lightbox/css/lightbox.css')
    link(rel='stylesheet', href='main.css')
    // <script src= "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"> </script>
    script(src='widgets/lightbox/js/jquery-1.7.2.min.js').
       
    script(src='widgets/lightbox/js/lightbox-ck.js').
       
    script(type='text/javascript', src='widgets/flexslider/jquery.flexslider-ck.js').
       
    script.
      $(window).load(function() {
      $('.flexslider').flexslider({
      animation: "slide",
      animationLoop: "true"
      });
      });
  body
    #page
      #mast
        img#logo.cf(src='pics/logo-cropped-320.jpg', alt='logo')
        ul#menu.cf
          li#thisweek
            a.btn(href='#events')
              h3 This Week
          li
            a.btn(href='merch.html')
              h3
                | Hoodies
                br
                | Tanks
                br
                | & Tees
          li
            a.btn(href='tnl.html')
              h3 Live Music
          li
            a.jobs.btn(href='staff.html')
              h3 Barback needed
        a#hankypic.btn.cf(href='docs/GayHankyCodes.html')
          img(src='pics/hankycodes.jpeg', title='Hanky Codes', alt='hanky codes')
          p Hanky Codes
      #tease
        #posters

          //
            a(href='pics/events/TNL-lite.jpg', rel='lightbox')
              img(src='pics/events/TNL-thumb.jpg', alt='TNL Flyer')
              h4 THU

          a(href='pics/events/TNL130620-lite.jpg', rel='lightbox')
            img(src='pics/events/TNL130620-thumb.jpg', alt='TNL Flyer')
            h4 THU

          //
            .bigimage
              h4 SAT (June 15) 2pm-7pm
              img(src='pics/events/Aids-Emergency-Fund---Dark-Days-lite.jpg', alt='Aids Emergency Fund')
        .oped
            img(src='pics/events/Tamale-Lady---Virginia-Ramos-lite.jpg')
            p
              | Virginia Ramos -- our beloved Tamale Lady -- may be forced into retirement by The City.
              a(href='http://www.youtube.com/watch?v=v9ulLQRBOek')  Read about
              |  the controversy,
              a(href='http://www.youtube.com/watch?v=v9ulLQRBOek')  watch
              |  her in her very own movie, then come join us for
            p
              | THE TAMALE LADY'S BIRTHDAY PARTY
              br
              | Friday @ 7pm
      #events.cf
        ul
          li#monday.day
            h3 Monday
            ul.events
              li#ronaritas.event.cf
                p.time 4pm-7pm
                a.btnless(href='#') Happy Hour with Ron and his infamous Ronaritas
                br
                a.btnless(href='#') Gage will finish you off into the wee hours...
                a(href='http://www.facebook.com/gagefisher')
                  img(src='pics/staff/gage-fisher-nice-thumb.jpg ', alt='gage', title='Gage')
              li#pools.event.cf
                p.time 4pm-Midnight
                a.btnless(href='#') FREE POOL and $2 pints of BIG DADDY
          li#tuesday.day
            h3 Tuesday
            ul.events
              li#special.event
                p.time 9pm
                ul.lineup
                  li
                    a.btn(href='http://www.sonnysmith.com/')
                      | SONNY AND THE SUNSETS
                      br
                      | (Record Release Party!)
                  li
                    a.btn(href='http://www.facebook.com/burntones') BURNT ONES
                  li
                    a.btn(href='http://www.facebook.com/coolghouls') COOL GHOULS
                a.flyer(href='pics/events/TNL130611-lite.jpg', rel='lightbox')
                  img(src='pics/events/TNL130611-thumb.jpg', alt='TNL Flyer')
          li#wednesday.day
            h3 Wednesday
            ul.events
              li.event.cf
                p.time 7pm-2am
                a.btnless(href='#') Break up your work week and have a hump day drink with Cody!
                a(href='http://www.facebook.com/cody.joseph')
                  img(src='pics/staff/cody-joseph-virgin-mary-thumb.jpg', alt='cody', title='Cody')
          li#thursday.day
            h3 Thursday
            ul.events
              li#tnl.event
                p.time 9pm
                ul.lineup
                  li
                    a.btn(href='https://www.facebook.com/pages/The-English-Singles/258438924560') ENGLISH SINGLES (Sacramento)
                  li
                    a.btn(href='http://troubleinmindrecs.com/bands/maston.html') MASTON (L.A.)
                  li
                    a.btn(href='http://troubleinmindrecs.com/bands/wrongwords.html') WRONG WORDS
                a.flyer(href='pics/events/TNL-lite.jpg', rel='lightbox')
                  img(src='pics/events/TNL-thumb.jpg', alt='TNL Flyer')
          li#friday.day
            h3 Friday
            ul.events
              li#special.event.cf
                p.time 7pm
                a.btn(href='http://sfist.com/2013/06/14/tamale_lady_feels_city_support_vows.php') Tamale Lady's Birthday Party
                a(href='pics/events/Tamale-Lady---Virginia-Ramos-lite.jpg', rel='lightbox')
                  img.thumb(src='pics/events/Tamale-Lady---Virginia-Ramos-thumb.jpg', alt='Tamale Lady')
              li#cubhouse.event.cf
                p.time 9pm
                a.btn(href='http://www.facebook.com/events/518773901518847/') Cub House
                a(href='pics/events/CBHS_Poster-lite.jpg', rel='lightbox')
                  img.thumb(src='pics/events/CBHS_Poster-thumb.jpg', alt='Cub House')
              li#flag.event.cf
                p.time 9pm
                a.btn(href='http://www.facebook.com/events/518773901518847/') FLAG
                a(href='pics/events/flag1-lite.jpg', rel='lightbox')
                  img.thumb(src='pics/events/flag1-thumb.jpg', alt='FLAG')
              li#cachorro.event.cf
                p.time 9pm
                a.btnless(href='#')
                  | Cachorro Negro
                  br
                  | Our Monthly Latin Bear Party
                a(href='pics/events/cachorronegro-lite.jpg', rel='lightbox')
                  img.thumb(src='pics/events/cachorronegro-thumb.jpg', alt='Cachorro Negro Party')
              li#cigar.event.cf
                a.btnless(href='#') Cigar Night
                a(href='pics/events/cigar-lite.jpg', rel='lightbox')
                  img.thumb(src='pics/events/cigar-thing.gif', alt='cigar night')
          li#saturday.day
            h3 Saturday
            ul.events
              li#dark.event.cf
                p.time 2pm-7pm
                a(href='https://www.facebook.com/events/563181007033732/')
                  .btn AEF Dark Days Benefit <br />+ Beer Bust 3-6
                a(href='pics/events/Aids-Emergency-Fund---Dark-Days-lite.jpg', rel='lightbox')
                  img.thumb(src='pics/events/Aids-Emergency-Fund---Dark-Days-thumb.jpg', alt='Dark Days')
              li#bluff.event.cf
                p.time 9pm
                a.btn(href='http://www.facebook.com/events/518773901518847/') BLUF
                a(href='pics/events/bluf-lite.jpg', rel='lightbox')
                  img.thumb(src='pics/events/bluf-thumb.jpg', alt='BLUF')
          li#sunday.day
            h3 Sunday
            ul.events
              li#bust.event.cf
                p.time 3pm-6pm
                a(href='http://www.sfldadsandboys.com/')
                  .btn Leather Daddies Beer Bust
                a(href='pics/events/Leather-Daddies-lite.jpg', rel='lightbox')
                  img.thumb(src='pics/events/Leather-Daddies-thumb.jpg', alt='Leather Daddies')
              li#karaoke.event.cf
                p.time 7pm
                a.btn(href='http://goldenbearsf.com/pages/gbc-events/')
                  | BB After Party:
                  br
                  | Bouncer's BackYard
      // events
      #flyers.cf
        | [flyers]
    // page
    script.
      $(document).ready(function(){
      $.get('index.flyers.html', function(data) {
      $('#flyers').html(data);
      });
      });
      $('div.lb-nav').on('click', function(e) {
      window.close();return false;});
