.links
  include footer/links

.content
  include footer/content

.flyers
  include footer/flyers

.instagramWidget
  a(name="instagram")
  .instagramWidgetMax
    include footer/instagramWidget
  .instagramWidgetPhone
    include footer/instagramWidgetPhone

.footer-widgets
    include footer/footer-db-loop.php