include settings
include wordpress.php

!!! 5
html
  head
    title= settings.title
    meta(http-equiv='Content-Type', content='text/html', charset='utf-8')
    // <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    meta(name='viewport', content='width=device-width')
    meta(name='viewport', content='initial-scale=1.0')
    //-FIXX try to get rid of the wp.css file (where doeas normalize come from?
    //link(rel='stylesheet', href='css/wp.css')
    link(rel='stylesheet', href='css/main.css')
    link(href='http://fonts.googleapis.com/css?family=Jolly+Lodger|Coming+Soon|Rouge+Script', rel='stylesheet', type='text/css')
    link(rel='apple-touch-icon', href='images/icons/touch-icon-iphone-57x57.png')
    link(rel='apple-touch-icon', sizes='72x72', href='images/icons/touch-icon-ipad.png')
    link(rel='apple-touch-icon', sizes='114x114', href='images/icons/touch-icon-iphone-retina.png')
    link(rel='apple-touch-icon', sizes='144x144', href='images/icons/touch-icon-ipad-retina.png')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-42163204-1', 'sf-eagle.com');
      ga('send', 'pageview');
  body
    | <!-- hello -->
    #background
