homePage = 'index.php'
logoThumb = 'images/logo-transparency-whiteeagle-cutout-thumb.png'
logoIcon = 'images/logo-transparency-whiteeagle-cutout-icon.png'
logo400 = 'images/logo-transparency-whiteeagle-cutout-400.png'
logo = 'images/logo.svg'
