.flexslider
  ul.slides
    li
      p.rc 3rd and 5th Sundays
      a(href='images/events/DiscoDaddy-442x600.jpg', rel='lightbox')
        img(src='images/events/DiscoDaddy-442x600.jpg')
    li
      p.rc Every 3rd Friday
      a(href='images/events/CubHouse-600.jpg', rel='lightbox')
        img(src='images/events/CubHouse-600.jpg')
    li
      p.rc Friday Cigar Nights
      a(href='images/events/cigar-lite.jpg', rel='lightbox')
        img(src='images/events/cigar-lite.jpg')
    li
      p.rc Every 4th Saturday
      a(href='images/events/Sadistic-generic-389x600.jpg', rel='lightbox')
        img(src='images/events/Sadistic-generic-389x600.jpg')
    li
      p.rc Every 3rd Saturday
      a(href='images/events/bluf-lite.jpg', rel='lightbox')
        img(src='images/events/bluf-lite.jpg')
.nonFlexslider
  ul.slides
    li
      p.rc 3rd and 5th Sundays
      img(src='images/events/DiscoDaddy-442x600.jpg')
    li
      p.rc Every 3rd Friday
      img(src='images/events/CubHouse-600.jpg')
    li
      p.rc Friday Cigar Nights
      img(src='images/events/cigar-lite.jpg')
    li
      p.rc Every 4th Saturday
      img(src='images/events/Sadistic-generic-389x600.jpg')
    li
      p.rc Every 3rd Saturday
      img(src='images/events/bluf-lite.jpg')
