.flexslider
  ul.slides
    li
      p.rc Every 3rd Friday
      a(href='images/events/CubHouse-600.jpg', rel='lightbox')
        img(src='images/events/CubHouse-600.jpg')
    li
      p.rc Friday Cigar Nights
      a(href='images/events/cigar-lite.jpg', rel='lightbox')
        img(src='images/events/cigar-lite.jpg')
    li
      p.rc Every 2nd Saturday
      a(href='images/events/sadistic-lite.jpg', rel='lightbox')
        img(src='images/events/sadistic-lite.jpg')
    li
      p.rc Every 2nd Sunday
      a(href='images/events/rubber-showtunes-lite.jpg', rel='lightbox')
        img(src='images/events/rubber-showtunes-lite.jpg')
    li
      p.rc Every 3rd Saturday
      a(href='images/events/bluf-lite.jpg', rel='lightbox')
        img(src='images/events/bluf-lite.jpg')
    li
      p.rc Every Now and Then
      a(href='images/events/flag-crucified.jpg', rel='lightbox')
        img(src='images/events/flag-crucified.jpg')
.nonFlexslider
  ul.slides
    li
      p.rc Every 3rd Friday
      img(src='images/events/CubHouse-600.jpg')
    li
      p.rc Friday Cigar Nights
      img(src='images/events/cigar-lite.jpg')
    li
      p.rc Every 2nd Saturday
      img(src='images/events/sadistic-lite.jpg')
    li
      p.rc Every 2nd Sunday
      img(src='images/events/rubber-showtunes-lite.jpg')
    li
      p.rc Every 3rd Saturday
      img(src='images/events/bluf-lite.jpg')
    li
      p.rc Every Now and Then
      img(src='images/events/flag-crucified.jpg')
