img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  &:link, &:visited {
    color: inherit; }
}

ul {
  list-style-type: none;
  padding: 0;
}

a>img {
  border: solid 2px #900;
  &:hover {
    border-color: #f00; }
}


@media screen and (max-width: $tablet) {
  h1 {
    font-size: 1.9em;
    margin: 0.67em 0;
  }
  h2 {
    font-size: 1.3em;
    margin: 0.83em 0;
  }

  h3 {
    font-size: 1em;
    margin: 1em 0;
  }

  h4 {
    font-size: 0.83em;
    margin: 1.33em 0;
  }

  h5 {
    font-size: 0.8em;
    margin: 1.67em 0;
  }

  h6 {
    font-size: 0.75em;
    margin: 2.33em 0;
  }
}
@media screen and (max-width: $phone) {
  h1 {
    font-size: 1.5em;
    margin: 0.67em 0;
  }
  h2 {
    font-size: 1.3em;
    margin: 0.83em 0;
  }

  h3 {
    font-size: 1em;
    margin: 1em 0;
  }

  h4 {
    font-size: 0.83em;
    margin: 1.33em 0;
  }

  h5 {
    font-size: 0.8em;
    margin: 1.67em 0;
  }

  h6 {
    font-size: 0.75em;
    margin: 2.33em 0;
  }
}
