aside
  ul.widgets
    li.hankypic
      a(href="GayHankyCodes.php")
        img.thumb(src="images/hankycodes.jpeg", alt="hanky codes")
      | Hanky Codes
    li.faceboook
      a(href="http://www.facebook.com/SFEagle")
        img.thumb(src="images/icons/facebook.png", alt="facebook")
    li.twitter
      a(href="https://twitter.com/sfeaglebar")
        img.thumb(src="images/icons/twitter.png", alt="facebook")

