nav
  ul
    li.thisweek
      a.button(href='#events')
        span
          | This
          br
          | Week
    li
      a.button(href='merch.html')
        span
          | Hoodies
          br
          | Tanks
          br
          | & Tees
    li
      a.button(href='tnl.html')
        span
          | Live
          br
          | Music
    li
      a.button(href='jobs.html')
        span
          | Barback
          br
          | Needed

