html
    body

        .flexslider
            ul.slides
                li
                    p.rc COMING (June 20)
                    a(href='pics/events/TNL130620-lite.jpg', rel='lightbox')
                        img(src='pics/events/TNL130620-lite.jpg')
                li
                    p.rc COMING (June 27)
                    a(href='pics/events/TNL130627-lite.jpg', rel='lightbox')
                        img(src='pics/events/TNL130627-lite.jpg')
                li
                    p.rc COMING (July 11)
                    a(href='pics/events/TNL130711b-lite.jpg', rel='lightbox')
                        img(src='pics/events/TNL130711b-lite.jpg')
                li
                    p.rc COMING (July 18)
                    a(href='pics/events/TNL071813-lite.jpg', rel='lightbox')
                        img(src='pics/events/TNL071813-lite.jpg')
                li
                    p.rc Every 3rd Friday
                    a(href='pics/events/CBHS_Poster-lite.jpg', rel='lightbox')
                        img(src='pics/events/CBHS_Poster-lite.jpg')
                li
                    p.rc Friday Cigar Nights
                    a(href='pics/events/cigar-lite.jpg', rel='lightbox')
                        img(src='pics/events/cigar-lite.jpg')
                li
                    p.rc Every 2nd Saturday
                    a(href='pics/events/sadistic-lite.jpg', rel='lightbox')
                        img(src='pics/events/sadistic-lite.jpg')
                li
                    p.rc Every 2nd Sunday
                    a(href='pics/events/rubber-showtunes-lite.jpg', rel='lightbox')
                        img(src='pics/events/rubber-showtunes-lite.jpg')
                li
                    p.rc Every 3rd Saturday
                    a(href='pics/events/bluf-lite.jpg', rel='lightbox')
                        img(src='pics/events/bluf-lite.jpg')
                li
                    p.rc Every Now and Then
                    a(href='pics/events/flag1-lite.jpg', rel='lightbox')
                        img(src='pics/events/flag1-lite.jpg')
        .nonFlexslider
            ul.slides
                li
                    p.rc COMING (June 20)
                    img(src='pics/events/TNL130620-lite.jpg')
                li
                    p.rc COMING (June 27)
                    img(src='pics/events/TNL130627-lite.jpg')
                li
                    p.rc COMING (July 11)
                    img(src='pics/events/TNL130711b-lite.jpg')
                li
                    p.rc COMING (July 18)
                    img(src='pics/events/TNL071813-lite.jpg')
                li
                    p.rc Every 3rd Friday
                    img(src='pics/events/CBHS_Poster-lite.jpg')
                li
                    p.rc Friday Cigar Nights
                    img(src='pics/events/cigar-lite.jpg')
                li
                    p.rc Every 2nd Saturday
                    img(src='pics/events/sadistic-lite.jpg')
                li
                    p.rc Every 2nd Sunday
                    img(src='pics/events/rubber-showtunes-lite.jpg')
                li
                    p.rc Every 3rd Saturday
                    img(src='pics/events/bluf-lite.jpg')
                li
                    p.rc Every Now and Then
                    img(src='pics/events/flag1-lite.jpg')
