#flyers {
  float: none }
  @media screen and (max-width: $phone) {
    width: 80%;
}

.nonFlexslider {
  display: none;
  @media screen and (max-width: $phone) {
    display: block;
    p {
      font-size: 1.5em;
    }
  }
}

//.flyer {
//  float:right;
//  display:block;
//  width: 32%;
//  height: auto;
//  margin:0 4%;
//  img {
//    width:100%; } }
//    height:auto;

.flexslider {
  margin: 30px 0;
  background: inherit;
  border: 0px solid #ffffff;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  zoom: 1;
  @media screen and (max-width: $phone) {
    display: none;
  }
}

.flex-viewport {
  max-height: 800px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
}

.flexslider .slides {
  zoom: .33333;
  img {
    border: 0;
  }
  @media screen and (max-width: $phone) {
    img {
      margin: 0 auto;
    }
  }
}

.slides {
  p {
    width: 80%;
    margin: 0 auto 60px auto;
    padding: 20px;
    font-size: 4.5em;
    font-weight: bold;
    text-align: center;
    background-color: #333;
    color: #f00;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
  }
  @media screen and (max-width: $phone) {
    p {
      font-size: 1.5em;
      margin: 40px auto 10px auto;
    }
  }
}

@media screen and (max-width: $phone) {
  .flex-viewport {
    max-height: 900px; }
}
