#mast {

    @include pie-clearfix;

    header {
        float: left;
        clear: right;
        img.logo {
            width: 80%;
            @include opacity(0.9);
        }
        @media screen and (max-width:$phone) {
            width: 60%;
            clear: none;
            margin-bottom: 30px;
        }
        @media screen and (max-width:$phone) {
            width: 60%;
            clear: none;
            margin-bottom: 30px;
        }
    }
    @import "mast/header";

    nav {
        float: left;
        clear: right;
        width: 100%;
        @media screen and (max-width: $netbook) {
            li:nth-of-type(3) {
                clear: left;
            }
        }
        @media screen and (max-width:$phone) {
            float: right;
            width: 100px;
        }
    }
    @import "mast/nav";

    ul {
        @include pie-clearfix;
        display: inline-block;
        @media screen and (max-width:$phone) {
            float: right;
        }
        li {
            display: block;
            float: left;
            @media screen and (max-width:$phone) {
                float: right;
                clear: both;
            }
        }
    }
    .promo {
        background-color: gold;
        float: left;
        clear: right;
        margin: 0 auto;
        padding: 10px;
        text-align: center;
        img {
            width: 80%;
            height: auto;
        }
        @media screen and (max-width:$phone) {
            float: none;
            margin: 0 auto;
        }
        p {
            color: #000;
            font-family: "Coming Soon";
            font-weight: 900;
            text-shadow: 1px 1px $decor-dark;
            @media screen and (max-width:$phone) {
                font-size: 1.4em;
            }
        }
    }
}
