#mast {

    @include pie-clearfix;

    header {
        float: left;
        clear: right;
        img.logo {
            width: 80%;
            @include opacity(0.9);
        }
        @media screen and (max-width:$phone) {
            width: 60%;
            clear: none;
            margin-bottom: 30px;
        }
        @media screen and (max-width:$phone) {
            width: 60%;
            clear: none;
            margin-bottom: 30px;
        }
    }
    @import "mast/header";

    nav {
        float: left;
        width: 100%;
        @media screen and (max-width: $netbook) {
            li:nth-of-type(3) {
                clear: left;
            }
        }
        @media screen and (max-width:$phone) {
            float: right;
            width: 100px;
        }
    }
    @import "mast/nav";

    ul {
        @include pie-clearfix;
        display: inline-block;
        @media screen and (max-width:$phone) {
            float: right;
        }
        li {
            display: block;
            float: left;
            @media screen and (max-width:$phone) {
                float: right;
                clear: both;
            }
        }
    }
    h2 {
        text-align: center;
        color: #000;
        text-shadow: 2px 4px #fff;
        @media screen and (max-width:$phone) {
            font-size: 2.8em;
        }
    }
}
.mrsfeagle {
    width: 100%;
    padding: 0 5px;
    text-align: center;
}
