#tease {
    @media screen and (max-width: $phone) {
        border: 15px solid $decor-dark;
    }
    .tease_now, .event {
        margin-bottom: 0px;
        font-family: 'Coming Soon' cursive;
        font-size: 1em;
        line-height: 20px;
        @include text-shadow(2px 2px 3px darken($content-lite, 30%));
        h1 {
            color: $decor-medium;
            font-family: "Coming Soon";
            line-height: 1em;
            text-align: center;
            font-size: 3.8em;
            padding: 20px 8% 40px 8%;
            margin: 0;
            @media screen and (max-width: $phone) {
                margin: 0 0 0 3%;
                padding: 20px 0 40px 0;
                font-size: 2.3em;
            }
        }
        img {
            display: block;
            margin: 0px auto 30px auto;
            @include box-shadow(0px 0px 20px $box-shadow);
            border: solid 10px rgba(#555, 0.2);
            @include border-radius(35px);
            max-width: 450px;
            @media screen and (max-width:$tablet) {
                width: 70%;
            }
            @media screen and (max-width:$phone) {
                width: 90%;
            }
        }
        p {
            margin: 0 auto 50px auto;
            @media screen and (max-width:$netbook) {
            }
            width: 70%;
            @media screen and (max-width:$phone) {
                width: 90%;
            }
            @include text-shadow(2px 2px 3px darken($content-lite, 30%));
            a {
                color: $decor-medium;
                @include text-shadow(2px 2px 3px darken($decor-lite, 30%));
                &:hover {
                   color: $decor-lite;
                }
            }
        }
    }
}
