li#bluff.event.cf
  p.time 9pm
  ul.event-list
    li
      a.button(href='http://www.bluf.com/events.php?San+Francisco')
        span
          | BLUF
  a(href='images/events/bluf-lite.jpg', rel='lightbox')
    img.thumb(src='images/events/bluf-thumb.jpg', alt='BLUF')
