li#sunday.special.event.cf
  p.time 7pm-Midnight
  ul.event-list
    li
      a.button(href='http://www.sfbg.com/2010/11/02/goldies-2010-dj-bus-station-john')
        span
          | Bus Station John
          br
          | Presents:
          br
          | Disco Daddy
  a(href='images/events/DiscoDaddy-130714-600.jpg', rel='lightbox')
    img.thumb(src='images/events/DiscoDaddy-130714-150.jpg', alt='Bus Station John - Disco Daddy')
