li#bust.event.cf
  p.time 3pm-6pm
  ul.event-list
    li
      a.button(href='http://www.castrolionsclubsf.org')
        span
          | Castro Lions
          br
          | Beer Bust and Leather Auction
  img.thumb(src='images/events/castrolions-thumb.jpg', alt='Beer Bust')
