li#cachorro.event.cf
  p.time 9pm
  ul.event-list
    li
      a.buttonless(href='#')
        span
          | Cachorro Negro
          br
          | Our Monthly Latin Bear Party
  a(href='images/events/cachorronegro-lite.jpg', rel='lightbox')
    img.thumb(src='images/events/cachorronegro-thumb.jpg', alt='Cachorro Negro Party')
