li#charliehorse.event.cf
  p.time 9pm
  ul.event-list
    li
      a.button(href='http://www.facebook.com/photo.php?fbid=10200759520464179&set=oa.472358592841621&type=1&theater')
        span
          | Charlie Horse
          br
          | with your Whorestress: ANACONDA
  a(href='images/events/charliehorse-lite.jpg', rel='lightbox')
    img.thumb(src='images/events/charliehorse-thumb.jpg', alt='Charlie Horse')
