li#cigar.event.cf
  ul.event-list
    li
      a.buttonless(href='#')
        span
          | Cigar Night
  a(href='images/events/cigar-lite.jpg', rel='lightbox')
    img.thumb(src='images/events/cigar-thing.gif', alt='cigar night')
