li#cigar.event.cf
  ul.event-list
    li
      a.buttonless(href='#')
        span
          | Cigar Night
  a(href='http://25.media.tumblr.com/tumblr_l7zya0TQID1qcbnafo1_500.jpg', rel='lightbox')
    img.thumb(src='images/events/cigar-thing.gif', alt='cigar night')
