li#cigar.event.cf
  ul.event-list
    li
      a.button(href='http://cubtrap.tumblr.com/')
        span
          | CubTrap
  a(href='images/events/cubtrap-130712-500.jpg', rel='lightbox')
    img.thumb(src='images/events/cubtrap-130712-150.jpg', alt='cub trap')
