li#ronaritas.event.cf
  p.time 4pm-7pm
  ul.event-list
    li
      a.buttonless(href='#')
        span
          | Happy Hour with Ron and his infamous Ronaritas
    li
      a.buttonless(href='#')
        span
          | Gage will finish you off into the wee hours...
  a(href='http://www.facebook.com/gagefisher')
    img(src='images/staff/gage-fisher-nice-thumb.jpg ', alt='gage', title='Gage')
