li#bust.event.cf
  p.time 4pm-7pm
  ul.event-list
    li
      a.button(href='https://sites.google.com/site/thejourneysf/')
        span
          | The Journey
          br
          | Beer Bust
  a(href='images/events/thejourney-blow-a-brat_web-lite.jpg', rel='lightbox')
    img.thumb(src='images/events/thejourney-blow-a-brat_web-thumb.jpg', alt='Special Beer Bust')
