li#tnl.event.cf
  p.time 9pm
  ul.tnl.event-list
    li
      a.button(href='https://www.facebook.com/TitanUps')
        span
          | THE TITAN UPS
    li
      a.button(href='http://www.kelleystoltz.com/')
        span
          | KELLEY STOLTZ
    li
      a.button(href='https://soundcloud.com/james-finch-jr')
        span
          | JAMES FINCH JR
  a(href='images/events/TNL-600.jpg', rel='lightbox')
    img(src='images/events/TNL-160.jpg', alt='TNL Flyer')
