#tease
  .oped
    a(href='http://www.flickr.com/photos/adiosusa/8918829134/')
      img(src='images/events/peppersprayshoes.jpg')
    p
      | There is really only ONE EVENT this week that you can't miss and it's
      | happening right here at the SF Eagle. That old chestnut ShE.L.O Is back
      | together after a much too long hiatus. The girlie-men will rock their junk
      | so tight we might all just bust a nut.
      br
      br
      | And if that wasn't enough, PEPPERSPRAY, my vote for the best band that ever played at
      | the Eagle, or anywhere else, is back for a one time (once in a lifetime) hoppin' set, kickin' PRIDE
      | in the ass.
      br
      br
      | And lastly there's a band I've never heard of, NECTAR ON THE DEWLY, which sounds wet and drippy and --
      | Could somebody please get me a rag...
      br
      br
      | Snooze through all the other rainbow-unicorn pablum of the week but don't miss this show.
      | It promises to be a night that you'll want to remember forever but if you plan your consumption
      | just right you'll likely forget it all. That's why we have Facebook.
      br
      br
    blockquote
      | BTW. Click on the shoes for a shuffle down Memory Lane
      br
      | You'll need a Flickr account
