#posters
  a(href='images/events/TNL-lite.jpg', rel='lightbox')
    img(src='images/events/TNL-thumb.jpg', alt='TNL Flyer')
    h4 THU
  .bigimage
    h4 SAT (June 15) 2pm-7pm
    img(src='images/events/Aids-Emergency-Fund---Dark-Days-lite.jpg', alt='Aids Emergency Fund')

