#events.cf
  ul
    //-li#monday.day
      h3 Monday
      ul.events
        include events/ronaritas
        include events/freepool
    //-li#tuesday.day
      h3 Tuesday
      ul.events
        include events/karaoke4dummies
    //-li#wednesday.day
      h3 Wednesday
      ul.events
        include events/humpday
        include events/womensnight
    //li#thursday.day
      h3 Thursday
      ul.events
        include events/tnl-db
    li#friday.day
      h3 Friday
      ul.events
        //-include events/flag
        //-include events/cachorro
        include events/cubtrap
        include events/cigar
    li#saturday.day
      h3 Saturday
      ul.events
        //-include events/cubhouse
        //-include events/afterdark
        //-include events/bluff
        include events/sadistic
        //-include events/special-bearbust
        //-include events/charliehorse
    li#sunday.day
      h3 Sunday
      ul.events
        //-include events/bust
        //-include events/karaoke
        include events/busstation
