include ../common/settings

header
  img.logo(src=logo, alt='logo', width='200', height='200')

nav
  ul
    li.thisweek
      a.button(href='#events')
        span
          | This
          br
          | Week
    li
      a.button(href='merch.php')
        span
          | Hoodies
          br
          | Tanks
          br
          | & Tees
    li
      a.button(href='calendar.php')
        span
          | Calendar
    //- li
    //-   a.button(href='jobs.php')
    //-     span
    //-       | Jobs
//- FIXX make this generic and add to custom fields
//- h2 Mr SF-Eagle Application
a.mrsfeagle(href=mrsfeagle, rel='lightbox')
  img(src=mrsfeagle, alt='Mr. SF-Eagle Application', width='451', height='600')
a.button.mrsfeagle(href=mrsfeagleApplication, target='_blank', alt='Mr. SF-Eagle Application')
  h3
    | DOWNLOAD PDF