include ../common/settings

header
  img.logo(src=logo, alt='logo', width='200', height='200')

nav
  ul
    li.thisweek
      a.button(href='#events')
        span
          | This
          br
          | Week
    li
      a.button(href='merch.php')
        span
          | Hoodies
          br
          | Tanks
          br
          | & Tees
    li
      a.button(href='calendar.php')
        span
          | Calendar
    //- li
    //-   a.button(href='jobs.php')
    //-     span
    //-       | Jobs
//- FIXX make this generic and add to custom fields

.promo
  //-  h2 LoveFur
  | Coming Saturday, November 30th
  p FROM LONDON
  a(href='gotfur.php', target='_blank')
    img(src='images/events/Lovefur-2415913_advert_san_fb-388x600.jpg', alt='lovefur')
