script(src='widgets/lightbox/js/jquery-1.7.2.min.js').

script(src='widgets/lightbox/js/lightbox-ck.js').

script(src='widgets/flexslider/jquery.flexslider-ck.js').

script.
  $(window).load(function() {
  $('.flexslider').flexslider({
  animation: "slide",
  animationLoop: "true"
  });
  });

script.
  $(document).ready(function(){
  $.get('index.flyers.html', function(data) {
  $('#flyers').html(data);
  });
  });
  $('div.lb-nav').on('click', function(e) {
  window.close();return false;});

