#tease
  //  .poster
  //    img(src='images/DrinkSpecials/dickel-250-transparent.png')
  //    img(src='images/DrinkSpecials/dickel-rye-250-transparent.png')
  //    h3
  //      | Have you met George Dickel?
  //      br
  //      | He has a rye sense af humor.
  //      br
  //      | He's 12 years old and can kick your butt.
  //      br
      h2 3 bucks. ALL NIGHT!
  include tease-db-loop.php
