include common/settings
thisPage = 'Home'

!!! 5
html
  head
    title= settings.title + ' - ' + thisPage
  include common/head
  body
    #page
      include index/mast
      include index/tease
      include index/events
      #flyers.cf
        | [flyers]
      include scripts

