include common/settings
thisPage = 'Staff'

!!! 5
html
  head
    title= settings.title + ' - ' + thisPage

  include common/head

  body
    #page
      a(href=settings.homePage)
        img(src=settings.logoThumb, alt='logo')
