include common/settings
thisPage = 'Jobs'

!!! 5
html
  head
    title= settings.title + ' - ' + thisPage

  include common/head

  body
    #page
      a(href=settings.homePage)
        img(src=settings.logoThumb, alt='logo')
      .contentTitle
        h1 THURSDAY NIGHT LIVE
      .contentText
        table.date
          tr
            td
              h2 6/27
            td
              p SF Pride 2013 Kickoff Party!
              p The Return of >> ShELO <<
              p PEPPERSPRAY
              p NECTAR ON THE DEWLY
        table.date
          tr
            td
              h2 7/11
            td
              p THE TITAN UPS
              p KELLY STOLTZ
              p JAMES FINCH Jr
        table.date
          tr
            td
              h2 7/18
            td
              p HOLLOW MIRRORS
              p WINTER TEETH
              p ILLUSION OF SELF
      p.dougemail
        | Do you know a local band that wants to play Thursday Night Live at SF Eagle? For bookings please contact
        a(href='mailto:doug@sf-eagle.com')
          br
          | doug@sf-eagle.com
